<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="k03.InspMutual">

    <select id="selectInspMutualEval" parameterType="HashMap" resultType="HashMap">
    /* InspMutualEvalMapper.xml -selectInspMutualEval -  InspMutualEval.vue - 검사관상호평가*/
        <![CDATA[
        		SELECT  ROWNUM AS LIST_SEQUENCE
        				,A.*
        		FROM	(
		                SELECT	T1.USER_ID
                                ,T1.AUTH_ID
                                ,T1.USER_NAME
                                ,T1.USER_SEX
                                ,(SELECT CODE_NAME FROM CODE01TB WHERE MST_CODE = 'SEX_CODE' AND DTL_CODE = T1.USER_SEX) AS USER_SEX_NAME
                                ,(SELECT COUNT(USER_ID) FROM K03_INSP_MUTUAL_LIST WHERE USER_ID = T1.USER_ID) AS CNT_EVALUATION
                                ,COUNT(1) OVER() AS ALL_COUNT
		                        ,#{CURR_PAGE} AS CURR_PAGE
                                ,#{PER_PAGE} AS PER_PAGE
                        FROM	USER01TB T1
                        WHERE	'Y' IN (T1.BCO_YN, T1.DCO_YN)
        ]]>
        <if test="CONDITION_CODE != null and CONDITION_CODE != '' and CONDITION_CODE == 'USER_NAME'">
            AND   UPPER(T1.USER_NAME) LIKE '%' || UPPER(#{CONDITION_TEXT}) || '%'
        </if>
        <![CDATA[
						ORDER BY T1.USER_NAME
                		) A
				ORDER BY A.USER_NAME
        ]]>
    </select>
    
    <select id="selectInspMutualEval_Detail" parameterType="HashMap" resultType="HashMap">
    /* InspMutualEvalMapper.xml -selectInspMutualEval_Detail -  InspMutualEval.vue - 검사관상호평가(Detail)*/
       <![CDATA[
        SELECT	SUM(CASE WHEN T1.QUESTION_1 = '1' THEN 1 ELSE 0 END) AS QUESTION_1
                ,SUM(CASE WHEN T1.QUESTION_1 = '2' THEN 1 ELSE 0 END) AS QUESTION_2
                ,SUM(CASE WHEN T1.QUESTION_1 = '3' THEN 1 ELSE 0 END) AS QUESTION_3
                ,SUM(CASE WHEN T1.QUESTION_1 = '4' THEN 1 ELSE 0 END) AS QUESTION_4
                ,SUM(CASE WHEN T1.QUESTION_1 = '5' THEN 1 ELSE 0 END) AS QUESTION_5
                ,SUM(CASE WHEN T1.QUESTION_1 = '6' THEN 1 ELSE 0 END) AS QUESTION_6
                ,SUM(CASE WHEN T1.QUESTION_1 = '7' THEN 1 ELSE 0 END) AS QUESTION_7
                ,CASE WHEN COUNT(T1.QUESTION_1) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_1 = '1' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_1) * 100 END QUESTION_1_RATE
                ,CASE WHEN COUNT(T1.QUESTION_1) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_1 = '2' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_1) * 100 END QUESTION_2_RATE
                ,CASE WHEN COUNT(T1.QUESTION_1) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_1 = '3' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_1) * 100 END QUESTION_3_RATE
                ,CASE WHEN COUNT(T1.QUESTION_1) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_1 = '4' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_1) * 100 END QUESTION_4_RATE
                ,CASE WHEN COUNT(T1.QUESTION_1) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_1 = '5' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_1) * 100 END QUESTION_5_RATE
                ,CASE WHEN COUNT(T1.QUESTION_1) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_1 = '6' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_1) * 100 END QUESTION_6_RATE
                ,CASE WHEN COUNT(T1.QUESTION_1) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_1 = '7' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_1) * 100 END QUESTION_7_RATE
        FROM	K03_INSP_MUTUAL_LIST T1 
        JOIN    K03_DOPING_INSPECT_REG B ON T1.IPNT_UPPER_SEQ = B.IPNT_UPPER_SEQ
        WHERE	T1.USER_ID = #{USER_ID}
          AND   B.IPNT_DATE >= TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '0101', 'YYYYMMDD'),'YYYYMMDD')
          AND   B.IPNT_DATE < TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '1231', 'YYYYMMDD') + 1,'YYYYMMDD')
          AND   B.IPNT_DATE < #{IPNT_DATE}
        UNION ALL
        SELECT	SUM(CASE WHEN T1.QUESTION_2 = '1' THEN 1 ELSE 0 END) AS QUESTION_1
                ,SUM(CASE WHEN T1.QUESTION_2 = '2' THEN 1 ELSE 0 END) AS QUESTION_2
                ,SUM(CASE WHEN T1.QUESTION_2 = '3' THEN 1 ELSE 0 END) AS QUESTION_3
                ,SUM(CASE WHEN T1.QUESTION_2 = '4' THEN 1 ELSE 0 END) AS QUESTION_4
                ,SUM(CASE WHEN T1.QUESTION_2 = '5' THEN 1 ELSE 0 END) AS QUESTION_5
                ,SUM(CASE WHEN T1.QUESTION_2 = '6' THEN 1 ELSE 0 END) AS QUESTION_6
                ,SUM(CASE WHEN T1.QUESTION_2 = '7' THEN 1 ELSE 0 END) AS QUESTION_7
                ,CASE WHEN COUNT(T1.QUESTION_2) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_2 = '1' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_2) * 100 END QUESTION_1_RATE
                ,CASE WHEN COUNT(T1.QUESTION_2) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_2 = '2' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_2) * 100 END QUESTION_2_RATE
                ,CASE WHEN COUNT(T1.QUESTION_2) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_2 = '3' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_2) * 100 END QUESTION_3_RATE
                ,CASE WHEN COUNT(T1.QUESTION_2) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_2 = '4' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_2) * 100 END QUESTION_4_RATE
                ,CASE WHEN COUNT(T1.QUESTION_2) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_2 = '5' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_2) * 100 END QUESTION_5_RATE
                ,CASE WHEN COUNT(T1.QUESTION_2) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_2 = '6' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_2) * 100 END QUESTION_6_RATE
                ,CASE WHEN COUNT(T1.QUESTION_2) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_2 = '7' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_2) * 100 END QUESTION_7_RATE
        FROM	K03_INSP_MUTUAL_LIST T1
        JOIN    K03_DOPING_INSPECT_REG B ON T1.IPNT_UPPER_SEQ = B.IPNT_UPPER_SEQ
        WHERE	T1.USER_ID = #{USER_ID}
          AND   B.IPNT_DATE >= TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '0101', 'YYYYMMDD'),'YYYYMMDD')
          AND   B.IPNT_DATE < TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '1231', 'YYYYMMDD') + 1,'YYYYMMDD')
          AND   B.IPNT_DATE < #{IPNT_DATE}
        UNION ALL
        SELECT	SUM(CASE WHEN T1.QUESTION_3 = '1' THEN 1 ELSE 0 END) AS QUESTION_1
                ,SUM(CASE WHEN T1.QUESTION_3 = '2' THEN 1 ELSE 0 END) AS QUESTION_2
                ,SUM(CASE WHEN T1.QUESTION_3 = '3' THEN 1 ELSE 0 END) AS QUESTION_3
                ,SUM(CASE WHEN T1.QUESTION_3 = '4' THEN 1 ELSE 0 END) AS QUESTION_4
                ,SUM(CASE WHEN T1.QUESTION_3 = '5' THEN 1 ELSE 0 END) AS QUESTION_5
                ,SUM(CASE WHEN T1.QUESTION_3 = '6' THEN 1 ELSE 0 END) AS QUESTION_6
                ,SUM(CASE WHEN T1.QUESTION_3 = '7' THEN 1 ELSE 0 END) AS QUESTION_7
                ,CASE WHEN COUNT(T1.QUESTION_3) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_3 = '1' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_3) * 100 END QUESTION_1_RATE
                ,CASE WHEN COUNT(T1.QUESTION_3) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_3 = '2' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_3) * 100 END QUESTION_2_RATE
                ,CASE WHEN COUNT(T1.QUESTION_3) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_3 = '3' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_3) * 100 END QUESTION_3_RATE
                ,CASE WHEN COUNT(T1.QUESTION_3) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_3 = '4' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_3) * 100 END QUESTION_4_RATE
                ,CASE WHEN COUNT(T1.QUESTION_3) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_3 = '5' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_3) * 100 END QUESTION_5_RATE
                ,CASE WHEN COUNT(T1.QUESTION_3) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_3 = '6' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_3) * 100 END QUESTION_6_RATE
                ,CASE WHEN COUNT(T1.QUESTION_3) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_3 = '7' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_3) * 100 END QUESTION_7_RATE
        FROM	K03_INSP_MUTUAL_LIST T1
        JOIN    K03_DOPING_INSPECT_REG B ON T1.IPNT_UPPER_SEQ = B.IPNT_UPPER_SEQ
        WHERE	T1.USER_ID = #{USER_ID}
          AND   B.IPNT_DATE >= TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '0101', 'YYYYMMDD'),'YYYYMMDD')
          AND   B.IPNT_DATE < TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '1231', 'YYYYMMDD') + 1,'YYYYMMDD')
          AND   B.IPNT_DATE < #{IPNT_DATE}
        UNION ALL
        SELECT	SUM(CASE WHEN T1.QUESTION_4 = '1' THEN 1 ELSE 0 END) AS QUESTION_1
                ,SUM(CASE WHEN T1.QUESTION_4 = '2' THEN 1 ELSE 0 END) AS QUESTION_2
                ,SUM(CASE WHEN T1.QUESTION_4 = '3' THEN 1 ELSE 0 END) AS QUESTION_3
                ,SUM(CASE WHEN T1.QUESTION_4 = '4' THEN 1 ELSE 0 END) AS QUESTION_4
                ,SUM(CASE WHEN T1.QUESTION_4 = '5' THEN 1 ELSE 0 END) AS QUESTION_5
                ,SUM(CASE WHEN T1.QUESTION_4 = '6' THEN 1 ELSE 0 END) AS QUESTION_6
                ,SUM(CASE WHEN T1.QUESTION_4 = '7' THEN 1 ELSE 0 END) AS QUESTION_7
                ,CASE WHEN COUNT(T1.QUESTION_4) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_4 = '1' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_4) * 100 END QUESTION_1_RATE
                ,CASE WHEN COUNT(T1.QUESTION_4) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_4 = '2' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_4) * 100 END QUESTION_2_RATE
                ,CASE WHEN COUNT(T1.QUESTION_4) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_4 = '3' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_4) * 100 END QUESTION_3_RATE
                ,CASE WHEN COUNT(T1.QUESTION_4) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_4 = '4' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_4) * 100 END QUESTION_4_RATE
                ,CASE WHEN COUNT(T1.QUESTION_4) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_4 = '5' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_4) * 100 END QUESTION_5_RATE
                ,CASE WHEN COUNT(T1.QUESTION_4) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_4 = '6' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_4) * 100 END QUESTION_6_RATE
                ,CASE WHEN COUNT(T1.QUESTION_4) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_4 = '7' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_4) * 100 END QUESTION_7_RATE
        FROM	K03_INSP_MUTUAL_LIST T1
        JOIN    K03_DOPING_INSPECT_REG B ON T1.IPNT_UPPER_SEQ = B.IPNT_UPPER_SEQ
        WHERE	T1.USER_ID = #{USER_ID}
          AND   B.IPNT_DATE >= TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '0101', 'YYYYMMDD'),'YYYYMMDD')
          AND   B.IPNT_DATE < TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '1231', 'YYYYMMDD') + 1,'YYYYMMDD')
          AND   B.IPNT_DATE < #{IPNT_DATE}
        UNION ALL
        SELECT	SUM(CASE WHEN T1.QUESTION_5 = '1' THEN 1 ELSE 0 END) AS QUESTION_1
                ,SUM(CASE WHEN T1.QUESTION_5 = '2' THEN 1 ELSE 0 END) AS QUESTION_2
                ,SUM(CASE WHEN T1.QUESTION_5 = '3' THEN 1 ELSE 0 END) AS QUESTION_3
                ,SUM(CASE WHEN T1.QUESTION_5 = '4' THEN 1 ELSE 0 END) AS QUESTION_4
                ,SUM(CASE WHEN T1.QUESTION_5 = '5' THEN 1 ELSE 0 END) AS QUESTION_5
                ,SUM(CASE WHEN T1.QUESTION_5 = '6' THEN 1 ELSE 0 END) AS QUESTION_6
                ,SUM(CASE WHEN T1.QUESTION_5 = '7' THEN 1 ELSE 0 END) AS QUESTION_7
                ,CASE WHEN COUNT(T1.QUESTION_5) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_5 = '1' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_5) * 100 END QUESTION_1_RATE
                ,CASE WHEN COUNT(T1.QUESTION_5) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_5 = '2' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_5) * 100 END QUESTION_2_RATE
                ,CASE WHEN COUNT(T1.QUESTION_5) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_5 = '3' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_5) * 100 END QUESTION_3_RATE
                ,CASE WHEN COUNT(T1.QUESTION_5) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_5 = '4' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_5) * 100 END QUESTION_4_RATE
                ,CASE WHEN COUNT(T1.QUESTION_5) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_5 = '5' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_5) * 100 END QUESTION_5_RATE
                ,CASE WHEN COUNT(T1.QUESTION_5) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_5 = '6' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_5) * 100 END QUESTION_6_RATE
                ,CASE WHEN COUNT(T1.QUESTION_5) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_5 = '7' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_5) * 100 END QUESTION_7_RATE
        FROM	K03_INSP_MUTUAL_LIST T1
        JOIN    K03_DOPING_INSPECT_REG B ON T1.IPNT_UPPER_SEQ = B.IPNT_UPPER_SEQ
        WHERE	T1.USER_ID = #{USER_ID}
          AND   B.IPNT_DATE >= TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '0101', 'YYYYMMDD'),'YYYYMMDD')
          AND   B.IPNT_DATE < TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '1231', 'YYYYMMDD') + 1,'YYYYMMDD')
          AND   B.IPNT_DATE < #{IPNT_DATE}
        UNION ALL
        SELECT	SUM(CASE WHEN T1.QUESTION_6 = '1' THEN 1 ELSE 0 END) AS QUESTION_1
                ,SUM(CASE WHEN T1.QUESTION_6 = '2' THEN 1 ELSE 0 END) AS QUESTION_2
                ,SUM(CASE WHEN T1.QUESTION_6 = '3' THEN 1 ELSE 0 END) AS QUESTION_3
                ,SUM(CASE WHEN T1.QUESTION_6 = '4' THEN 1 ELSE 0 END) AS QUESTION_4
                ,SUM(CASE WHEN T1.QUESTION_6 = '5' THEN 1 ELSE 0 END) AS QUESTION_5
                ,SUM(CASE WHEN T1.QUESTION_6 = '6' THEN 1 ELSE 0 END) AS QUESTION_6
                ,SUM(CASE WHEN T1.QUESTION_6 = '7' THEN 1 ELSE 0 END) AS QUESTION_7
                ,CASE WHEN COUNT(T1.QUESTION_6) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_6 = '1' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_6) * 100 END QUESTION_1_RATE
                ,CASE WHEN COUNT(T1.QUESTION_6) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_6 = '2' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_6) * 100 END QUESTION_2_RATE
                ,CASE WHEN COUNT(T1.QUESTION_6) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_6 = '3' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_6) * 100 END QUESTION_3_RATE
                ,CASE WHEN COUNT(T1.QUESTION_6) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_6 = '4' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_6) * 100 END QUESTION_4_RATE
                ,CASE WHEN COUNT(T1.QUESTION_6) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_6 = '5' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_6) * 100 END QUESTION_5_RATE
                ,CASE WHEN COUNT(T1.QUESTION_6) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_6 = '6' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_6) * 100 END QUESTION_6_RATE
                ,CASE WHEN COUNT(T1.QUESTION_6) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_6 = '7' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_6) * 100 END QUESTION_7_RATE
        FROM	K03_INSP_MUTUAL_LIST T1
        JOIN    K03_DOPING_INSPECT_REG B ON T1.IPNT_UPPER_SEQ = B.IPNT_UPPER_SEQ
        WHERE	T1.USER_ID = #{USER_ID}
          AND   B.IPNT_DATE >= TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '0101', 'YYYYMMDD'),'YYYYMMDD')
          AND   B.IPNT_DATE < TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '1231', 'YYYYMMDD') + 1,'YYYYMMDD')
          AND   B.IPNT_DATE < #{IPNT_DATE}
        UNION ALL
        SELECT	SUM(CASE WHEN T1.QUESTION_7 = '1' THEN 1 ELSE 0 END) AS QUESTION_1
                ,SUM(CASE WHEN T1.QUESTION_7 = '2' THEN 1 ELSE 0 END) AS QUESTION_2
                ,SUM(CASE WHEN T1.QUESTION_7 = '3' THEN 1 ELSE 0 END) AS QUESTION_3
                ,SUM(CASE WHEN T1.QUESTION_7 = '4' THEN 1 ELSE 0 END) AS QUESTION_4
                ,SUM(CASE WHEN T1.QUESTION_7 = '5' THEN 1 ELSE 0 END) AS QUESTION_5
                ,SUM(CASE WHEN T1.QUESTION_7 = '6' THEN 1 ELSE 0 END) AS QUESTION_6
                ,SUM(CASE WHEN T1.QUESTION_7 = '7' THEN 1 ELSE 0 END) AS QUESTION_7
                ,CASE WHEN COUNT(T1.QUESTION_7) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_7 = '1' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_7) * 100 END QUESTION_1_RATE
                ,CASE WHEN COUNT(T1.QUESTION_7) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_7 = '2' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_7) * 100 END QUESTION_2_RATE
                ,CASE WHEN COUNT(T1.QUESTION_7) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_7 = '3' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_7) * 100 END QUESTION_3_RATE
                ,CASE WHEN COUNT(T1.QUESTION_7) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_7 = '4' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_7) * 100 END QUESTION_4_RATE
                ,CASE WHEN COUNT(T1.QUESTION_7) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_7 = '5' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_7) * 100 END QUESTION_5_RATE
                ,CASE WHEN COUNT(T1.QUESTION_7) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_7 = '6' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_7) * 100 END QUESTION_6_RATE
                ,CASE WHEN COUNT(T1.QUESTION_7) <= 0 THEN 0 ELSE SUM(CASE WHEN T1.QUESTION_7 = '7' THEN 1 ELSE 0 END) / COUNT(T1.QUESTION_7) * 100 END QUESTION_7_RATE
        FROM	K03_INSP_MUTUAL_LIST T1
        JOIN    K03_DOPING_INSPECT_REG B ON T1.IPNT_UPPER_SEQ = B.IPNT_UPPER_SEQ
        WHERE	T1.USER_ID = #{USER_ID}
          AND   B.IPNT_DATE >= TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '0101', 'YYYYMMDD'),'YYYYMMDD')
          AND   B.IPNT_DATE < TO_CHAR(TO_DATE(#{CONDITION_YEAR} || '1231', 'YYYYMMDD') + 1,'YYYYMMDD')
          AND   B.IPNT_DATE < #{IPNT_DATE}
        ]]>
    </select>   
    
    <!-- 설문항목 관리 관련 쿼리 -->
    <select id="selectInspMutualEvalMst" parameterType="HashMap" resultType="HashMap" >
     /* k03.InspMutual.selectInspMutualEvalMst (InspMutualEvalMapper.xm) */
     SELECT EVAL_YEAR,
		    EVAL_NO,
		    SEQ,
		    EVAL_QUESTIONS,
		    EVAL_GUBUN,
		    EVAL_H_VALUE_NM,
		    EVAL_L_VALUE__NM,
		    EVAL_START_DATE,
		    EVAL_END_DATE,
		    EVAL_USE_YN,
		    REG_USER,
		    REG_DATE,
		    EDT_USER,
		    EDT_DATE
       FROM K03_INSP_MUTUAL_MST T
      WHERE 1=1      
      <if test="CONDITION_YEAR != null and CONDITION_YEAR != ''">
      AND T.EVAL_YEAR =#{CONDITION_YEAR}
      </if> 
      <if test="CONDITION_TEXT != null and CONDITION_TEXT != ''">
        AND EVAL_QUESTIONS LIKE '%'||#{CONDITION_TEXT}||'%' 
      </if> 
      ORDER BY T.EVAL_YEAR,
               T.EVAL_NO,
               T.SEQ
    </select>
    
    <insert id="insertEvalutionMngMst" parameterType="HashMap">
    /* k03.InspMutual.insertEvalutionMngMst (InspMutualEvalMapper.xm) */
        INSERT INTO K03_INSP_MUTUAL_MST (
            EVAL_YEAR
          , EVAL_NO
          , SEQ
          , EVAL_QUESTIONS
          , EVAL_GUBUN
          , EVAL_H_VALUE_NM
          , EVAL_L_VALUE__NM
          , EVAL_START_DATE
          , EVAL_END_DATE
          , EVAL_USE_YN
          , REG_USER
          , REG_DATE
          , EDT_USER
          , EDT_DATE
        ) VALUES (
            #{EVAL_YEAR},
            #{EVAL_NO},
            #{SEQ},
            #{EVAL_QUESTIONS},
            #{EVAL_GUBUN},
            #{EVAL_H_VALUE_NM},
            #{EVAL_L_VALUE__NM},
            #{EVAL_START_DATE},
            #{EVAL_END_DATE},
            #{EVAL_USE_YN},
            SYSDATE,
            #{REG_USER},
            SYSDATE,
            #{EDT_USER},
            #{SORT_ORDER}
        )
    </insert>
    
    <update id="updateEvalutionMngMst" parameterType="HashMap">
    /* k03.InspMutual.updateEvalutionMngMst (InspMutualEvalMapper.xm) */
        UPDATE K03_INSP_MUTUAL_MST
          SET EVAL_QUESTIONS = #{EVAL_QUESTIONS}
            , EVAL_GUBUN = #{EVAL_GUBUN}
            , EVAL_H_VALUE_NM = #{EVAL_H_VALUE_NM}
            , EVAL_L_VALUE__NM = #{EVAL_L_VALUE__NM}
            , EVAL_START_DATE = #{EVAL_START_DATE}
            , EVAL_END_DATE = #{EVAL_END_DATE}
            , EVAL_USE_YN  = #{EVAL_USE_YN}
            , EDT_USER = #{EDT_USER}
            , EDT_DATE = SYSDATE
         WHERE EVAL_YEAR = #{EVAL_YEAR} 
           AND EVAL_NO = #{EVAL_NO} 
           AND SEQ = #{SEQ} 
    </update>
    
    <select id="selectselectInspMutualEvalDtl" parameterType="HashMap" resultType="HashMap">
    /* k03.InspMutual.selectselectInspMutualEvalDtl (InspMutualEvalMapper.xm) */
     SELECT EVAL_YEAR
         , EVAL_NO
         , SEQ
         , DTL_SEQ
         , DTL_EVAL_NAME
         , EVAL_VALUE
         , REG_USER
         , REG_DATE
         , EDT_USER
         , EDT_DATE
      FROM  K03_INSP_MUTUAL_DTL 
     WHERE 1=1
       AND EVAL_YEAR = #{EVAL_YEAR}
       AND EVAL_NO = #{EVAL_NO}
       AND SEQ = #{SEQ}
   ORDER BY DTL_SEQ
    </select>
    
    <insert id="insertInspMutualEvalDetail" parameterType="HashMap">
    /* k03.InspMutual.insertInspMutualEvalDetail (InspMutualEvalMapper.xm) */
    
        INSERT INTO K03_INSP_MUTUAL_DTL (
            EVAL_YEAR
          , EVAL_NO
          , SEQ
          , DTL_SEQ
          , DTL_EVAL_NAME
          , EVAL_VALUE
          , REG_USER
          , REG_DATE
          , EDT_USER
          , EDT_DATE 
        ) VALUES (
            #{EVAL_YEAR}
          , #{EVAL_NO}
          , #{SEQ}
          , #{DTL_SEQ}
          , #{DTL_EVAL_NAME}
          , #{EVAL_VALUE}
          , #{GSS.USER_ID}
          , SYSDATE
          , #{GSS.USER_ID}
          , SYSDATE
        )
    </insert>
    
    <update id="updateInspMutualEvalDetail" parameterType="HashMap">
    /* k03.InspMutual.updateInspMutualEvalDetail (InspMutualEvalMapper.xm) */
    
        UPDATE K03_INSP_MUTUAL_DTL
          SET  DTL_EVAL_NAME = #{DTL_EVAL_NAME} 
             , EVAL_VALUE = #{EVAL_VALUE} 
             , EDT_USER = #{GSS.USER_ID}
             , EDT_DATE = SYSDATE
         WHERE EVAL_YEAR = #{EVAL_YEAR}
           AND EVAL_NO = #{EVAL_NO}
           AND SEQ = #{SEQ}
           AND DTL_SEQ = #{DTL_SEQ}
    
    </update>
    
    <delete id="deleteInspMutualEvalDetail" parameterType="HashMap">
    /* k03.InspMutual.deleteInspMutualEvalDetail (InspMutualEvalMapper.xm) */
    
        DELETE FROM K03_INSP_MUTUAL_DTL
         WHERE EVAL_YEAR = #{EVAL_YEAR}
           AND EVAL_NO = #{EVAL_NO}
           AND SEQ = #{SEQ}
           AND DTL_SEQ = #{DTL_SEQ}
    </delete>
    
    
    
    
</mapper>