<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ani">
    <insert id="saveSearchIpHistory_ani" parameterType="java.util.HashMap" >
        /* ani.saveSearchIpHistory_ani 품목검색이력IP(동물) */
        INSERT INTO T_WEB_SEARCH_IP_LOG
             ( SEARCH_DTM
             , LOGIN_ID
             , BRCH_CD
             , CUST_CD
             , IP_ADDR
             , SEARCH_TEXT
             , INS_ID
             , INS_DTM
             )
        VALUES
             ( F_S_NOW()
             , #{loginId}
             , #{brchCd}
             , #{custCd}
             , #{ipAddr}
             , #{H_SEARCH_GB}||#{H_SEARCH_NM}||#{H_SEARCH_MAKER}||#{H_SEARCH_INGNO}||#{H_SEARCH_EFFNO}||#{ORD_MAKER_CD}
             , #{loginId}
             , F_S_NOW()
             )
    </insert>
    <select id="selectItemSearchList_ani" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    /* ani.selectItemSearchList_ani 일반주문 품목조회(동물) */
    SELECT *
      FROM (
    SELECT AA.ITEM_CD
         , AA.ITEM_NM
         , TRIM(AA.BOHUM_CD)             AS BOHUM_CD
         , TRIM(AA.ITEM_PYOJUN_CD)       AS ITEM_PYOJUN_CD
         , AA.PAY_ITEM_YN
         , SUBSTRING(AA.PAY_ITEM_NM, 1, 1) AS PAY_ITEM_NM
         , SUBSTRING(AA.MED_NM, 1,1)     AS MED_NM
         , SUBSTRING(AA.G_FLAG_NM, 1, 1)  AS DLV_BRCH_FLAG_NM
         , AA.MED_CD
         , AA.ORD_WP2_AMT
         , AA.ORD_BP_AMT
         , AA.ITEM_NM_UNIT
         , AA.MAKER_NM
         , CASE WHEN AA.AVAIL_STOCK <![CDATA[<]]> 0 THEN 0
                WHEN AA.REAL_MAX_ORD_QTY <![CDATA[>]]> 0 THEN AA.MAX_ORD_QTY
           ELSE AA.AVAIL_STOCK END AS AVAIL_STOCK
         , AA.WEB_BACK_USE_YN
         , CASE WHEN AA.PRICE_DOWN_YN = 'Y' THEN 'Y' ELSE 'N' END AS PRICE_DOWN_YN -- Y이면 리스트의 품목명우측에 아이콘 표시
         , CASE WHEN AA.PRICE_DOWN_YN = 'Y' THEN F_S_FORMAT(AA.PRICE_DOWN_DT,'YYYY/MM/DD') || ' ' || TO_CHAR(AA.PRICE_DOWN_PCT, '99999990.99') || '%' ELSE '' END AS PRICE_DOWN_INFO --폼목상세 폼의 급여내용 우측에 빨간색으로 표시
         , AA.ITEM_GB_CD
         , AA.ITEM_GENERIC_CD
         , AA.ITEM_INGREDIENT_CD
         , AA.ITEM_KIND_NO
         , AA.DLV_BRCH_CD
         , AA.G_DLV_BRCH_FLAG
         <!-- , CASE WHEN AA.G_DLV_BRCH_FLAG = 'G' THEN '광' WHEN AA.G_DLV_BRCH_FLAG = 'N' THEN '간' ELSE '' END G_DLV_BRCH_FLAG_NM -->
         , AA.G_DLV_BRCH_CD
         <!-- , (SELECT CASE WHEN AA.DLV_BRCH_CD != AA.G_DLV_BRCH_CD THEN CASE WHEN AA.G_DLV_BRCH_CD ='21' THEN '파주'
                                                                          ELSE SUBSTR(BRCH_SNM, 1, 6)
                                                                     END
                        ELSE ''
                   END
              FROM T_BRANCH
             WHERE DLV_BRCH_YN = 'Y'
               AND USE_YN = 'Y'
               AND BRCH_CD = AA.G_DLV_BRCH_CD
           ) AS G_DLV_BRCH_CD_NM -->
         , 0 AS REQ_QTY /* 수량(TO-BE 추가) */
         , AA.UNIT /* 규격(TO-BE 추가) */
         , (SELECT CASE WHEN COUNT(1) > 0 THEN 'Y'
                        ELSE 'N'
                   END
              FROM T_WEB_MY_ITEM X
             WHERE X.CUST_CD = AA.CUST_CD
               AND X.ITEM_CD = AA.ITEM_CD
           ) AS FAVORITE_YN /* 관심품목여부(TO-BE 추가) */
         , CASE WHEN (SELECT COUNT(*) CNT
                        FROM V_SALE_DTL X
                       WHERE X.CUST_CD IN (AA.CUST_CD, F_S_OLD_CUST(AA.CUST_CD))
                         AND X.ITEM_CD = AA.ITEM_CD
                         AND X.APRV_DT <![CDATA[>]]> F_S_ADDDATE('M', 'F', VARCHAR_FORMAT(CURRENT TIMESTAMP, 'YYYYMMDD') , -36)
                     ) > 0 THEN 'Y'
                ELSE 'N'
           END HISTORY_YN /* 이력존재여부(TO-BE 추가) */
         , AA.SMALLBOX_QTY /* 소 */
         , AA.MIDBOX_QTY   /* 중 */
         , AA.LARGEBOX_QTY /* 대 */
         , AA.MIN_ORD_QTY /* 최소주문 */
         , CASE WHEN AA.MAX_ORD_QTY = 0 THEN ''
                ELSE CAST(AA.MAX_ORD_QTY AS VARCHAR(20))
           END AS MAX_ORD_QTY /* 최대주문 : 0 이면 빈값으로 */
         , AA.PRICE_DOWN_DT /* 보험약가(일자) */
         , CASE WHEN AA.PRICE_DOWN_WP2 = 0 THEN ''
                ELSE CAST(AA.PRICE_DOWN_WP2 AS VARCHAR(20))
           END AS PRICE_DOWN_WP2 /* 보험약가(금액) : 0 이면 빈값으로 */
         , AA.WEB_BACK_MEMO /* 반품조건 */
         , AA.SOLDOUT_NOTE /* 입고예정일 */
         , CASE WHEN AA.TAKEBACK_YN = 'Y' THEN '반품제약'
                ELSE '반품불가'
           END TAKEBACK /* 반품 */
         , AA.ITEM_CD || AA.G_DLV_BRCH_CD AS SEQ
         , NVL((SELECT CD_NM FROM T_CODE WHERE P_CODE = '114' AND CODE = AA.PACK_CD),'') AS PACK_NM
      FROM V_ITEM_GORDER_ANI AA
     WHERE 1 = 1
       AND AA.ORD_WP2_AMT != 0
       AND AA.ORD_BP_AMT  != 0
       AND AA.DLV_BRCH_USE_YN   = 'Y'
       AND AA.WEB_USE_YN        = 'Y'
       AND AA.FORBID_YN         = 'N'
       AND AA.SUBDIV_YN         = 'N'
       AND AA.MED_CD            IN ('03')
       AND AA.ITEM_NM           != '약가보상'
       AND AA.CUST_CD = #{custCd}
    <if test="keyword != null and keyword != ''">
       AND (AA.BOHUM_CD = #{bohumCd} OR
            AA.ITEM_NM LIKE #{itemNm}
           )
    </if>
    <if test="ORD_MAKER_CD != null and ORD_MAKER_CD != ''">
       AND AA.MAKER_CD = #{ORD_MAKER_CD}
    </if>
    <if test="ORD_MAKER_CD == '' and custCd == '03'">
       AND AA.MAKER_CD != '240'
    </if>
    <if test="custCd == '20'">
       AND AA.MED_CD NOT IN ('02', '03') 
       AND AA.PAY_ITEM_YN = 'N'
    </if>
    <if test='userGbCd =="20"'>
       AND AA.G_DLV_BRCH_FLAG = 'N' /* 비광역주문건만 */
       AND (AA.ITEM_GB_CD = '01' OR (AA.ITEM_GB_CD = '02' AND AA.AVAIL_STOCK <![CDATA[>]]> 0 AND AA.BRCH_CD IN (SELECT BRCH_CD FROM T_BRANCH WHERE USE_YN='Y' AND BRCH_GB_CD != '04')))
    </if>
    <if test='userGbCd == "30"'>
       AND AA.ITEM_GB_CD = '01'
    </if>
    <if test="makerNm != null and makerNm !=''">
       <bind name="makerNm" value='"%" + makerNm + "%"'/>
       AND AA.MAKER_NM LIKE #{makerNm}
    </if>
    <if test='ing == "Y"'>
       <bind name="ingno" value='ingno + "%"'/>
       AND AA.ITEM_INGREDIENT_CD LIKE #{ingno}
       AND AA.ITEM_INGREDIENT_CD != 'AAAAAAAAAAAAAA'
    </if>
    <if test='eff == "Y"'>
       <bind name="effno" value='effno + "%"'/>
       AND AA.ITEM_KIND_NO LIKE #{effno}
       AND AA.ITEM_KIND_NO != 'BBBBBBBBBBBBBB'
    </if>
    <if test="H_SEARCH_INGREDIENT != null and H_SEARCH_INGREDIENT !=''">
       <bind name="H_SEARCH_INGREDIENT" value='"%" + H_SEARCH_INGREDIENT + "%"'/>
       AND EXISTS(
           SELECT 1
             FROM T_ITEM_PHARMACY BB
            WHERE AA.ITEM_PYOJUN_CD = BB.ITEM_PYOJUN_CD
              AND BB.INGREDIENT LIKE #{H_SEARCH_INGREDIENT}
              AND BB.ITEM_PYOJUN_CD <![CDATA[>]]> ''
       )
    </if>
    <if test='searchAll == "N"'>
        <if test='professionalYn == "N" and generalYn == "Y"'>
            AND AA.MED_CD = '01'
        </if>
        <if test='professionalYn == "Y" and generalYn == "N"'>
            AND AA.MED_CD = '02'
        </if>
        <if test='paymentYn == "N" and nonPaymentYn == "Y"'>
            AND AA.PAY_ITEM_YN = 'N'
        </if>
        <if test='paymentYn == "Y" and nonPaymentYn == "N"'>
            AND AA.PAY_ITEM_YN = 'Y'
        </if>
    </if>
    <if test='history == "Y"'>
       AND EXISTS(SELECT 1
                    FROM V_SALE_DTL Y
                   WHERE Y.CUST_CD IN (AA.CUST_CD, F_S_OLD_CUST(AA.CUST_CD))
                     AND Y.ITEM_CD = AA.ITEM_CD
                     AND Y.APRV_DT <![CDATA[>]]> F_S_ADDDATE('M', 'F', VARCHAR_FORMAT(CURRENT TIMESTAMP, 'YYYYMMDD'), -36)
                 )
    </if>
    <if test='excludingOutOfOtock == "Y"'>
       AND (CASE WHEN AA.AVAIL_STOCK <![CDATA[<]]> 0 THEN 0
                 WHEN AA.REAL_MAX_ORD_QTY <![CDATA[>]]> 0 THEN AA.MAX_ORD_QTY
                 ELSE AA.AVAIL_STOCK
            END) <![CDATA[>]]> 0
    </if>
          ) M
    ORDER BY M.AVAIL_STOCK DESC , M.ITEM_NM ASC
    </select>

    <update id="saveBasketItem_ani" parameterType="java.util.HashMap" >
        /* ani.saveBasketItem_ani 일반주문 품목 장바구니 담기(동물) */
        MERGE INTO T_WEB_BASKET_ANI A
             USING (SELECT A.CUST_CD                                        AS CUST_CD
                         , F_S_EMPTY(#{basketGbCd},'')                    AS BASKET_GB_CD
                         , A.ITEM_GB_CD                                     AS ITEM_GB_CD
                         , A.ITEM_CD                                        AS ITEM_CD
                         , 1                                                AS ITEM_CNT
                         , F_S_DAY()                                        AS ORD_DT
                         , '06'                                             AS ORD_PATH_CD
                         , A.TAX_YN                                         AS VAT_YN
                         , A.BRCH_CD                                        AS BRCH_CD
                         , A.G_DLV_BRCH_CD                                  AS DLV_BRCH_CD
                         , A.DLV_GB_CD                                      AS DLV_GB_CD
                         , F_S_EMPTY(#{userId},'')                     AS ORD_USER_ID
                         , IFNULL(ORD_BP_AMT,0)                             AS ORD_BP_AMT
                         , IFNULL(ORD_WP2_AMT,0)                            AS ORD_WP2_AMT
                         , A.BRCH_BP_AMT                                    AS BP_AMT
                         , BRCH_BP1_AMT                                     AS BP1_AMT
                         , BRCH_WP2_AMT                                     AS WP2_AMT
                         , IFNULL(ORD_BP_AMT,0)                             AS SALES_BP_AMT
                         , IFNULL(ORD_WP2_AMT,0)                            AS SALES_WP2_AMT
                         , A.MAX_ORD_QTY                                    AS MAX_ITEM_QTY
                         , '01'                                             AS GUBUN
                      FROM V_ITEM_GORDER_ANI A
                     WHERE A.CUST_CD = #{custCd}
                       AND A.ITEM_CD = #{saveItemCd}
                       AND A.FORBID_YN = 'N'
                       AND A.SUBDIV_YN = 'N'
                       AND A.ITEM_GB_CD = #{saveItemGbCd}
                       AND A.MED_CD IN ('01', '02')
                       AND A.G_DLV_BRCH_CD = F_S_EMPTY(#{dlvBrchCd}, A.DLV_BRCH_CD)
                     FETCH FIRST 1 ROW ONLY
                   ) B
                ON A.CUST_CD = B.CUST_CD
               AND A.BASKET_GB_CD = B.BASKET_GB_CD
               AND A.ITEM_GB_CD = B.ITEM_GB_CD
               AND A.ITEM_CD = B.ITEM_CD
               AND A.DLV_BRCH_CD = B.DLV_BRCH_CD
              WHEN MATCHED THEN
            UPDATE
               SET ITEM_QTY      = A.ITEM_QTY + #{saveItemQty}                     
                 , ITEM_CNT      = B.ITEM_CNT
                 , ORD_DT        = B.ORD_DT
                 , ORD_PATH_CD   = B.ORD_PATH_CD
                 , ORD_BP_AMT    = B.ORD_BP_AMT
                 , ORD_WP2_AMT   = B.ORD_WP2_AMT
                 , BP1_AMT       = B.BP1_AMT
                 , BP_AMT        = B.BP_AMT
                 , WP2_AMT       = B.WP2_AMT
                 , SALES_BP_AMT  = B.SALES_BP_AMT
                 , SALES_WP2_AMT = B.SALES_WP2_AMT
                 , MAX_ITEM_QTY  = B.MAX_ITEM_QTY
                 , GUBUN         = B.GUBUN
                 , VAT_YN        = B.VAT_YN
                 , BRCH_CD       = B.BRCH_CD
                 , DLV_BRCH_CD   = B.DLV_BRCH_CD
                 , DLV_GB_CD     = B.DLV_GB_CD
                 , ORD_USER_ID   = B.ORD_USER_ID
                 , DEL_YN        = 'N'
                 , MOD_ID        = B.ORD_USER_ID
                 , MOD_DTM       = CURRENT TIMESTAMP
              WHEN NOT MATCHED THEN
            INSERT
                 ( CUST_CD
                 , BASKET_GB_CD
                 , ITEM_GB_CD
                 , ITEM_CD
                 , ITEM_QTY
                 , ITEM_CNT
                 , ORD_DT
                 , ORD_PATH_CD
                 , ORD_BP_AMT
                 , ORD_WP2_AMT
                 , BP1_AMT
                 , BP_AMT
                 , WP2_AMT
                 , SALES_BP_AMT
                 , SALES_WP2_AMT
                 , MAX_ITEM_QTY
                 , GUBUN
                 , VAT_YN
                 , BRCH_CD
                 , DLV_BRCH_CD
                 , DLV_GB_CD
                 , ORD_USER_ID
                 , DEL_YN
                 , INS_ID
                 , INS_DTM
                 )
            VALUES
                 ( B.CUST_CD
                 , B.BASKET_GB_CD
                 , B.ITEM_GB_CD
                 , B.ITEM_CD
                 , #{saveItemQty}       
                 , B.ITEM_CNT
                 , B.ORD_DT
                 , B.ORD_PATH_CD
                 , B.ORD_BP_AMT
                 , B.ORD_WP2_AMT
                 , B.BP1_AMT
                 , B.BP_AMT
                 , B.WP2_AMT
                 , B.SALES_BP_AMT
                 , B.SALES_WP2_AMT
                 , B.MAX_ITEM_QTY
                 , B.GUBUN
                 , B.VAT_YN
                 , B.BRCH_CD
                 , B.DLV_BRCH_CD
                 , B.DLV_GB_CD
                 , B.ORD_USER_ID
                 , 'N'
                 , B.ORD_USER_ID
                 , CURRENT TIMESTAMP
                 )
              ELSE IGNORE
    </update>

    <select id="searchComOrdBasketList_ani" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* ani.searchComOrdBasketList_ani 일반주문 장바구니 조회(동물) */
        SELECT A.ITEM_CD
             , A.BASKET_GB_NM
             , A.ITEM_GB_NM
             , A.ITEM_GB_CD
             , A.ITEM_NM
             , A.MAKER_NM
             , A.ORD_WP2_AMT
             , A.ORD_WP2_AMT AS ORD_WP2_AMT_ORG
             , A.ITEM_QTY
             , A.SUM_ITEM_QTY
             , A.MIN_ORD_QTY
             , A.MAX_ORD_QTY
             , A.AVAIL_STOCK
             , CASE WHEN '10' IN ('10','20') THEN A.WP2_CHG_YN
                    ELSE 'N'
               END AS WP2_CHG_YN
             , A.MIN_WP2_AMT
             , A.SALE_UNIT_QTY
             , A.CUST_GB_CD
             , A.MED_OPEN_DT
             , A.MAX_AMT
             , A.DLV_BRCH_CD
             , CASE WHEN A.DLV_BRCH_CD=B.DLV_BRCH_CD THEN ''
                    ELSE CASE WHEN A.DLV_BRCH_CD ='21' THEN '파주'
                              ELSE SUBSTR(F_S_MASTER('BRCH', A.DLV_BRCH_CD,'SNM'), 1, 5)
                         END
               END AS DLV_BRCH_NM
             , (SELECT CASE WHEN COUNT(1) > 0 THEN 'Y'
                            ELSE 'N'
                       END
                  FROM T_WEB_MY_ITEM X
                 WHERE X.CUST_CD = A.CUST_CD
                   AND X.ITEM_CD = A.ITEM_CD
               ) AS FAVORITE_YN /* 관심품목여부(TO-BE 추가) */
             , C.PAY_ITEM_YN /* 급여, 비급여 여부(TO-BE 추가) */
             , CASE WHEN C.PAY_ITEM_YN = 'Y' THEN '급'
                    ELSE '비'
               END PAY_ITEM_NM /* 급여, 비급여 여부 명(TO-BE 추가) */
             , C.MED_CD /* 일반, 전문 코드(TO-BE 추가) */
             , CASE WHEN C.MED_CD = '01' THEN '일'
                    WHEN C.MED_CD = '02' THEN '전'
               END MED_NM /* 일반, 전문 코드명(TO-BE 추가) */
             , CASE WHEN A.DLV_BRCH_CD = B.DLV_BRCH_CD THEN 'N'
                    ELSE 'G'
               END G_DLV_BRCH_FLAG /* 광역 여부 플래그(TO-BE 추가) */
             , A.ITEM_QTY AS ITEM_QTY_ORG /* 원주문갯수(TO-BE 추가) */
             , 'Y' AS SELECTED_YN /* 선택여부(모바일용) flag */
             , D.SMALLBOX_QTY
             , D.MIDBOX_QTY
             , D.LARGEBOX_QTY
             , D.MIN_ORD_QTY
             , D.MAX_ORD_QTY
             , D.PRICE_DOWN_DT
             , D.PRICE_DOWN_WP2
             , D.WEB_BACK_MEMO
             , D.SOLDOUT_NOTE
             , D.TAKEBACK
             , D.UNIT
             , D.BOHUM_CD
             , D.PACK_NM
          FROM V_WEB_BASKET_ANI A
          JOIN T_CUST B
            ON B.CUST_CD = A.CUST_CD
          JOIN T_ITEM C
            ON C.ITEM_CD = A.ITEM_CD
           AND C.USE_YN = 'Y'
          LEFT JOIN (SELECT X.ITEM_CD
                     , X.G_DLV_BRCH_CD
                     , X.SMALLBOX_QTY /* 소 */
                     , X.MIDBOX_QTY   /* 중 */
                     , X.LARGEBOX_QTY /* 대 */
                     , X.MIN_ORD_QTY /* 최소주문 */
                     , CASE WHEN X.MAX_ORD_QTY = 0 THEN ''
                            ELSE CAST(X.MAX_ORD_QTY AS VARCHAR(20))
                       END AS MAX_ORD_QTY /* 최대주문 : 0 이면 빈값으로 */
                     , X.PRICE_DOWN_DT /* 보험약가(일자) */
                     , CASE WHEN X.PRICE_DOWN_WP2 = 0 THEN ''
                            ELSE CAST(X.PRICE_DOWN_WP2 AS VARCHAR(20))
                       END AS PRICE_DOWN_WP2 /* 보험약가(금액) : 0 이면 빈값으로 */
                     , X.WEB_BACK_MEMO /* 반품조건 */
                     , X.SOLDOUT_NOTE /* 입고예정일 */
                     , CASE WHEN X.TAKEBACK_YN = 'Y' THEN '반품제약'
                            ELSE '반품불가'
                       END TAKEBACK /* 반품 */
                     , X.UNIT
                     , X.BOHUM_CD
                     , NVL((SELECT CD_NM FROM T_CODE WHERE P_CODE = '114' AND CODE = X.PACK_CD),'') AS PACK_NM
                  FROM V_ITEM_GORDER_ANI X
                 WHERE X.CUST_CD = #{custCd}
               ) D
            ON D.ITEM_CD = A.ITEM_CD
           AND D.G_DLV_BRCH_CD = A.DLV_BRCH_CD
         WHERE A.CUST_CD = #{custCd}
           AND A.BASKET_GB_CD = #{basketGbCd}
         <if test='gDlvBrchFlag == "G"'>
           AND A.DLV_BRCH_CD != B.DLV_BRCH_CD
         </if>
         <!--  ORDER BY A.DLV_BRCH_CD ASC, A.INS_DTM DESC 고객 요구사항으로 선택항목 최상위 위치-->
         ORDER BY A.INS_DTM DESC
    </select>
    
    <select id="searchComOrdBasketList_ani2" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* ani.searchComOrdBasketList_ani2 일반주문 장바구니 조회(동물) */
        SELECT A.ITEM_CD
             , A.BASKET_GB_NM
             , A.ITEM_GB_NM
             , A.ITEM_GB_CD
             , A.ITEM_NM
             , A.MAKER_NM
             , A.ORD_WP2_AMT
             , A.ORD_WP2_AMT AS ORD_WP2_AMT_ORG
             , A.ITEM_QTY
             , A.SUM_ITEM_QTY
             , A.MIN_ORD_QTY
             , A.MAX_ORD_QTY
             , A.AVAIL_STOCK
             , CASE WHEN '10' IN ('10','20') THEN A.WP2_CHG_YN
                    ELSE 'N'
               END AS WP2_CHG_YN
             , A.MIN_WP2_AMT
             , A.SALE_UNIT_QTY
             , A.CUST_GB_CD
             , A.MED_OPEN_DT
             , A.MAX_AMT
             , A.DLV_BRCH_CD
             , CASE WHEN A.DLV_BRCH_CD=B.DLV_BRCH_CD THEN ''
                    ELSE CASE WHEN A.DLV_BRCH_CD ='21' THEN '파주'
                              ELSE SUBSTR(F_S_MASTER('BRCH', A.DLV_BRCH_CD,'SNM'), 1, 5)
                         END
               END AS DLV_BRCH_NM
             , (SELECT CASE WHEN COUNT(1) > 0 THEN 'Y'
                            ELSE 'N'
                       END
                  FROM T_WEB_MY_ITEM X
                 WHERE X.CUST_CD = A.CUST_CD
                   AND X.ITEM_CD = A.ITEM_CD
               ) AS FAVORITE_YN /* 관심품목여부(TO-BE 추가) */
             , C.PAY_ITEM_YN /* 급여, 비급여 여부(TO-BE 추가) */
             , CASE WHEN C.PAY_ITEM_YN = 'Y' THEN '급'
                    ELSE '비'
               END PAY_ITEM_NM /* 급여, 비급여 여부 명(TO-BE 추가) */
             , C.MED_CD /* 일반, 전문 코드(TO-BE 추가) */
             , CASE WHEN C.MED_CD = '01' THEN '일'
                    WHEN C.MED_CD = '02' THEN '전'
               END MED_NM /* 일반, 전문 코드명(TO-BE 추가) */
             , CASE WHEN A.DLV_BRCH_CD = B.DLV_BRCH_CD THEN 'N'
                    ELSE 'G'
               END G_DLV_BRCH_FLAG /* 광역 여부 플래그(TO-BE 추가) */
             , A.ITEM_QTY AS ITEM_QTY_ORG /* 원주문갯수(TO-BE 추가) */
             , 'Y' AS SELECTED_YN /* 선택여부(모바일용) flag */
             , D.SMALLBOX_QTY
             , D.MIDBOX_QTY
             , D.LARGEBOX_QTY
             , D.MIN_ORD_QTY
             , D.MAX_ORD_QTY
             , D.PRICE_DOWN_DT
             , D.PRICE_DOWN_WP2
             , D.WEB_BACK_MEMO
             , D.SOLDOUT_NOTE
             , D.TAKEBACK
             , D.UNIT
             , D.BOHUM_CD
             , D.PACK_NM
          FROM V_WEB_BASKET_ANI A
          JOIN T_CUST B
            ON B.CUST_CD = A.CUST_CD
          JOIN T_ITEM C
            ON C.ITEM_CD = A.ITEM_CD
           AND C.USE_YN = 'Y'
          JOIN (SELECT X.ITEM_CD
                     , X.G_DLV_BRCH_CD
                     , X.SMALLBOX_QTY /* 소 */
                     , X.MIDBOX_QTY   /* 중 */
                     , X.LARGEBOX_QTY /* 대 */
                     , X.MIN_ORD_QTY /* 최소주문 */
                     , CASE WHEN X.MAX_ORD_QTY = 0 THEN ''
                            ELSE CAST(X.MAX_ORD_QTY AS VARCHAR(20))
                       END AS MAX_ORD_QTY /* 최대주문 : 0 이면 빈값으로 */
                     , X.PRICE_DOWN_DT /* 보험약가(일자) */
                     , CASE WHEN X.PRICE_DOWN_WP2 = 0 THEN ''
                            ELSE CAST(X.PRICE_DOWN_WP2 AS VARCHAR(20))
                       END AS PRICE_DOWN_WP2 /* 보험약가(금액) : 0 이면 빈값으로 */
                     , X.WEB_BACK_MEMO /* 반품조건 */
                     , X.SOLDOUT_NOTE /* 입고예정일 */
                     , CASE WHEN X.TAKEBACK_YN = 'Y' THEN '반품제약'
                            ELSE '반품불가'
                       END TAKEBACK /* 반품 */
                     , X.UNIT
                     , X.BOHUM_CD
                     , NVL((SELECT CD_NM FROM T_CODE WHERE P_CODE = '114' AND CODE = X.PACK_CD),'') AS PACK_NM
                  FROM V_ITEM_GORDER_ANI X
                 WHERE X.CUST_CD = #{custCd}
               ) D
            ON D.ITEM_CD = A.ITEM_CD
           AND D.G_DLV_BRCH_CD = A.DLV_BRCH_CD
         WHERE A.CUST_CD = #{custCd}
           AND A.BASKET_GB_CD = #{basketGbCd}
         <!--  ORDER BY A.DLV_BRCH_CD ASC, A.INS_DTM DESC 고객 요구사항으로 선택항목 최상위 위치-->
         ORDER BY A.INS_DTM DESC
    </select>

    <update id="updateBasketItemQty_ani"  parameterType="java.util.HashMap" >
        /* ani.updateBasketItemQty_ani 일반주문 장바구니 수량 수정(동물) */
        UPDATE T_WEB_BASKET_ANI
           SET ITEM_QTY      = F_S_EMPTY(#{itemQty},1)
             , ORD_WP2_AMT   = F_S_EMPTY(#{ordWp2Amt},ORD_WP2_AMT)
             , MOD_ID        = F_S_EMPTY(#{userId},'')
             , MOD_DTM       = CURRENT TIMESTAMP
         WHERE CUST_CD      = F_S_EMPTY( #{custCd} ,'')
           AND ITEM_CD      = F_S_EMPTY( #{saveItemCd},'')
           AND BASKET_GB_CD = #{basketGbCd}
           AND ITEM_GB_CD   = #{saveItemGbCd}
           AND DLV_BRCH_CD  = F_S_EMPTY(#{dlvBrchCd},DLV_BRCH_CD)
    </update>
    
    <update id="updateBasketItemWp2Amt_ani"  parameterType="java.util.HashMap" >
        /* ani.updateBasketItemWp2Amt_ani 일반주문 장바구니 단가 수정(모바일)(동물) */
        UPDATE T_WEB_BASKET_ANI
           SET ORD_WP2_AMT   = F_S_EMPTY(#{ordWp2Amt},ORD_WP2_AMT)
             , MOD_ID        = F_S_EMPTY(#{userId}, '')
             , MOD_DTM       = CURRENT TIMESTAMP
         WHERE CUST_CD      = F_S_EMPTY( #{custCd}, '')
           AND ITEM_CD      = F_S_EMPTY( #{saveItemCd}, '')
           AND BASKET_GB_CD = #{basketGbCd}
           AND ITEM_GB_CD   = #{saveItemGbCd}
           AND DLV_BRCH_CD  = F_S_EMPTY(#{dlvBrchCd}, DLV_BRCH_CD)
    </update>

    <insert id="deleteOneComOrdBasketMove_ani" parameterType="java.util.HashMap" >
        /* ani.deleteOneComOrdBasketMove_ani 장바구니 한건 취소시 MOVE(동물) */
        INSERT INTO T_WEB_BASKETMOVE_ANI
             ( BASKET_GB_CD
             , ORD_PATH_CD
             , ITEM_GB_CD
             , CUST_CD
             , BRCH_CD
             , ORD_DT
             , VAT_YN
             , ITEM_CNT
             , SUPPLY_AMT
             , VAT_AMT
             , TOTAL_AMT
             , DLV_GB_CD
             , ORD_USER_ID
             , ITEM_CD
             , ITEM_QTY
             , ORD_BP_AMT
             , ORD_WP2_AMT
             , BP_AMT
             , BP1_AMT
             , WP2_AMT
             , SALES_BP_AMT
             , SALES_WP2_AMT
             , MAX_ITEM_QTY
             , EXP_DT
             , PROD_NO
             , DLV_BRCH_CD
             , ORD_MEMO
             , DEL_YN
             , INS_ID
             , INS_DTM
             , MOD_ID
             , MOD_DTM)
        SELECT BASKET_GB_CD
             , ORD_PATH_CD
             , ITEM_GB_CD
             , CUST_CD
             , BRCH_CD
             , ORD_DT
             , VAT_YN
             , ITEM_CNT
             , SUPPLY_AMT
             , VAT_AMT
             , TOTAL_AMT
             , DLV_GB_CD
             , ORD_USER_ID
             , ITEM_CD
             , ITEM_QTY
             , ORD_BP_AMT
             , ORD_WP2_AMT
             , BP_AMT
             , BP1_AMT
             , WP2_AMT
             , SALES_BP_AMT
             , SALES_WP2_AMT
             , MAX_ITEM_QTY
             , EXP_DT
             , PROD_NO
             , DLV_BRCH_CD
             , ORD_MEMO
             , 'Y'
             , INS_ID
             , INS_DTM
             , F_S_EMPTY(#{userId},'')     AS MOD_ID
             , CURRENT TIMESTAMP           AS MOD_DTM
          FROM T_WEB_BASKET_ANI A
         WHERE A.CUST_CD = #{custCd}
           AND A.BASKET_GB_CD = #{basketGbCd}
           AND A.ITEM_GB_CD = #{saveItemGbCd}
           AND A.ITEM_CD = #{saveItemCd}
           AND A.DLV_BRCH_CD = F_S_EMPTY(#{dlvBrchCd}, A.DLV_BRCH_CD)
    </insert>

    <delete id="deleteComOrdBasket_ani" parameterType="java.util.HashMap">
        /* ani.deleteComOrdBasket_ani 장바구니 삭제(동물) */
        DELETE
          FROM T_WEB_BASKET_ANI A
         WHERE A.CUST_CD = #{custCd}
           AND A.BASKET_GB_CD = #{basketGbCd}
           AND A.ITEM_GB_CD = #{saveItemGbCd}
           AND A.ITEM_CD = #{saveItemCd}
           AND A.DLV_BRCH_CD = F_S_EMPTY(#{dlvBrchCd}, A.DLV_BRCH_CD)
    </delete>

    <select id="selectHistoryList_ani"  parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* ani.selectHistoryList_ani 일반주문 제품 출고 이력(동물) */
        SELECT A.ITEM_NM_UNIT         AS ITEM_NM
             , IFNULL(A.ORD_DT,'')    AS ORD_DT
             , IFNULL(A.APRV_DT,'')   AS APRV_DT /*주문일자에서 승인일자로 변경 표시(추가)*/
             , A.ORD_WP2_AMT          AS WP2_AMT
             , A.ITEM_QTY
             , IFNULL(CASE WHEN A.EXP_DT IS NOT NULL OR A.EXP_DT != '' THEN A.EXP_DT
                           ELSE (SELECT SERIAL_EXP_DT
                                   FROM V_SALE_SERIAL
                                  WHERE A.SN = SN
                                    AND A.SNO = SNO
                                  FETCH FIRST 1 ROWS ONLY
                                 )
                      END, '') AS EXP_DT
             , IFNULL(CASE WHEN A.PROD_NO IS NOT NULL OR A.PROD_NO != '' THEN A.PROD_NO
                           ELSE (SELECT SERIAL_PROD_NO
                                   FROM V_SALE_SERIAL
                                  WHERE A.SN = SN
                                    AND A.SNO = SNO
                                  FETCH FIRST 1 ROWS ONLY
                                )
                      END, '') AS SERIAL_NO
             , A.ORD_DT || A.ITEM_CD AS SEQ
             , A.GUBUN_NM
          FROM V_SALE_DTL A
         WHERE A.CUST_CD IN (#{custCd}, F_S_OLD_CUST(#{custCd}))
           AND A.ITEM_CD = #{selItemCd}
           AND A.APRV_DT <![CDATA[>]]> F_S_ADDDATE('M','F',VARCHAR_FORMAT(CURRENT TIMESTAMP,'YYYYMMDD'), #{sellMonth})
         ORDER BY A.APRV_DT DESC, SN DESC ,SNO DESC
    </select>

    <select id="selectAccShpmntQty_ani" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* ani.selectAccShpmntQty_ani 누적 출하 수량 조회(동물) */
        SELECT (SELECT IFNULL(SUM(B.ITEM_QTY), 0)
                  FROM T_SALE A
                  JOIN T_SALE_DTL B
                    ON B.SN = A.SN
                   AND B.ITEM_CD = #{selItemCd}
                 WHERE A.CUST_CD IN (#{custCd}, F_S_OLD_CUST(#{custCd}))
                   AND A.APRV_DT <![CDATA[>]]> F_S_ADDDATE('M','F',VARCHAR_FORMAT(CURRENT TIMESTAMP,'YYYYMMDD'), #{sellMonth})
               ) AS SALE_CNT /* 매출 */
             , (SELECT IFNULL(SUM(-B.ITEM_QTY), 0)
                  FROM T_SALEBACK A
                  JOIN T_SALEBACK_DTL B
                    ON B.SN = A.SN
                   AND B.ITEM_CD = #{selItemCd}
                 WHERE A.CUST_CD IN (#{custCd}, F_S_OLD_CUST(#{custCd}))
                   AND A.APRV_DT <![CDATA[>]]> F_S_ADDDATE('M','F',VARCHAR_FORMAT(CURRENT TIMESTAMP,'YYYYMMDD'), #{sellMonth})
               ) AS BACK_CNT /* 반품 */
          FROM DUAL
    </select>

    <insert id="insertWebgateDtl_ani" parameterType="java.util.HashMap" >
        /* ani.insertWebgateDtl_ani 주문등록 DTL(동물) */
        <selectKey keyProperty="SNO" resultType="int" order="BEFORE">
            SELECT F_S_NULL(MAX(SNO),0)+1
              FROM T_WEBGATE_ANI_DTL
             WHERE SN = #{SN}
        </selectKey>
            INSERT INTO T_WEBGATE_ANI_DTL
                 ( SN
                 , SNO
                 , ITEM_GB_CD
                 , ITEM_CD
                 , ITEM_QTY
                 , ORD_BP_AMT
                 , ORD_WP2_AMT
                 , BP_AMT
                 , BP1_AMT
                 , WP2_AMT
                 , ORD_PATH_CD
                 , DEL_YN
                 , INS_ID
                 , INS_DTM)
            SELECT F_S_EMPTY(#{SN},'')               AS SN
                 , F_S_EMPTY(#{SNO},'')             AS SNO
                 , ITEM_GB_CD                       AS ITEM_GB_CD
                 , ITEM_CD                          AS ITEM_CD
                 , F_S_EMPTY(#{ITEM_QTY},'')        AS ITEM_QTY
                 , ORD_BP_AMT                       AS ORD_BP_AMT
                 , ORD_WP2_AMT                      AS ORD_WP2_AMT
                 , BP_AMT                           AS BP_AMT
                 , BP1_AMT                          AS BP1_AMT
                 , WP2_AMT                          AS WP2_AMT
                 , A.GUBUN                          AS ORD_PATH_CD
                 , 'N'                              AS DEL_YN
                 , F_S_EMPTY(#{USER_ID},'')     AS INS_ID
                 , CURRENT TIMESTAMP                AS INS_DTM
            FROM T_WEB_BASKET_ANI A
            JOIN T_CUST B
              ON B.BRCH_CD = A.BRCH_CD
             AND B.CUST_CD = A.CUST_CD
           WHERE A.DEL_YN         = 'N'
             AND A.CUST_CD        = #{CUST_CD}
             AND A.BASKET_GB_CD   = #{BASKET_GB_CD}
             AND A.ITEM_GB_CD     = #{ITEM_GB_CD}
             AND A.ITEM_CD        = #{ITEM_CD}
             AND A.DLV_BRCH_CD    = F_S_EMPTY(#{DLV_BRCH_CD},B.DLV_BRCH_CD)
    </insert>

    <insert id="insertWebgate_ani" parameterType="java.util.HashMap" >
        /* ani.insertWebgate_ani 주문등록(동물) */
        INSERT INTO T_WEBGATE_ANI
             ( SN
             , ORD_DT
             , ORD_TM
             , ORD_TYPE_CD
             , CUST_CD
             , BRCH_CD
             , DLV_BRCH_CD
             , DLV_GB_CD
             , ITEM_CNT
             , URGENT_YN
             , CNCL_YN
             , ORD_MEMO
             , DEPT_CD
             , VAT_YN
             , EMP_ID
             , ITEM_CD
             , SUPPLY_AMT
             , VAT_AMT
             , TOTAL_AMT
             , BPP_AMT
             , ORD_USER_ID
             , INS_ID
             , INS_DTM
             )
        SELECT F_S_EMPTY(#{SN},'')                      AS SN
             , VARCHAR_FORMAT(CURRENT TIMESTAMP,'YYYYMMDD')  AS ORD_DT
             , REPLACE(CHAR(CURRENT TIME),':','')       AS ORD_TM
             , CASE WHEN MAX(C.CUST_GB_CD) !='03' THEN '01' ELSE '05' END AS ORD_TYPE_CD
             , F_S_EMPTY(#{CUST_CD},'')              AS CUST_CD
             , F_S_EMPTY(#{BRCH_CD},'')              AS BRCH_CD
             , F_S_EMPTY(#{DLV_BRCH_CD},MAX(C.DLV_BRCH_CD)) AS DLV_BRCH_CD
             , '03'                                      AS DLV_GB_CD
             , COUNT(A.SNO)                              AS ITEM_CNT
             , 'N'                                       AS URGENT_YN
             , 'N'                                       AS CNCL_YN
             , F_S_EMPTY(#{ORD_MEMO},'')                 AS ORD_MEMO
             , F_S_EMPTY(#{DEPT_CD},'')              AS DEPT_CD
             , 'Y'                                       AS VAT_YN
             , F_S_EMPTY(#{EMP_ID},'')               AS EMP_ID
             , MAX(A.ITEM_CD)                  AS ITEM_CD
             , SUM(F_S_CALCAMT(B.TAX_YN,A.ORD_WP2_AMT,A.ITEM_QTY,'SUP')) AS SUPPLY_AMT
             , SUM(F_S_CALCAMT(B.TAX_YN,A.ORD_WP2_AMT,A.ITEM_QTY,'VAT')) AS VAT_AMT
             , SUM(F_S_CALCAMT(B.TAX_YN,A.ORD_WP2_AMT,A.ITEM_QTY,'TOT')) AS TOT_AMT
             , SUM(A.ORD_BP_AMT*A.ITEM_QTY)              AS BPP_AMT
             , F_S_EMPTY(#{USER_ID},'')              AS ORD_USER_ID
             , F_S_EMPTY(#{USER_ID},'')              AS INS_ID
             , CURRENT TIMESTAMP                         AS INS_DTM
          FROM T_WEBGATE_ANI_DTL  A
          JOIN T_ITEM B
            ON B.ITEM_CD = A.ITEM_CD
          JOIN T_CUST C
            ON C.CUST_CD = F_S_EMPTY(#{CUST_CD},'')
         WHERE A.SN = #{SN}
    </insert>

    <insert id="moveComOrdBasket_ani" parameterType="java.util.HashMap" >
        /* ani.moveComOrdBasket_ani 장바구니 MOVE(동물) */
        INSERT INTO T_WEB_BASKETMOVE_ANI
             ( BASKET_GB_CD
             , ORD_PATH_CD
             , ITEM_GB_CD
             , CUST_CD
             , BRCH_CD
             , ORD_DT
             , VAT_YN
             , ITEM_CNT
             , SUPPLY_AMT
             , VAT_AMT
             , TOTAL_AMT
             , DLV_GB_CD
             , ORD_USER_ID
             , ITEM_CD
             , ITEM_QTY
             , ORD_BP_AMT
             , ORD_WP2_AMT
             , BP_AMT
             , BP1_AMT
             , WP2_AMT
             , SALES_BP_AMT
             , SALES_WP2_AMT
             , MAX_ITEM_QTY
             , EXP_DT
             , PROD_NO
             , DLV_BRCH_CD
             , ORD_MEMO
             , DEL_YN
             , ORD_SN
             , INS_ID
             , INS_DTM
             , MOD_ID
             , MOD_DTM
             )
        SELECT BASKET_GB_CD
             , ORD_PATH_CD
             , ITEM_GB_CD
             , CUST_CD
             , BRCH_CD
             , ORD_DT
             , VAT_YN
             , ITEM_CNT
             , SUPPLY_AMT
             , VAT_AMT
             , TOTAL_AMT
             , DLV_GB_CD
             , ORD_USER_ID
             , ITEM_CD
             , ITEM_QTY
             , ORD_BP_AMT
             , ORD_WP2_AMT
             , BP_AMT
             , BP1_AMT
             , WP2_AMT
             , SALES_BP_AMT
             , SALES_WP2_AMT
             , MAX_ITEM_QTY
             , EXP_DT
             , PROD_NO
             , DLV_BRCH_CD
             , ORD_MEMO
             , 'N'
             , F_S_EMPTY(#{SN},0)
             , INS_ID
             , INS_DTM
             , F_S_EMPTY(#{GSS.USER_ID},'')     AS MOD_ID
             , CURRENT TIMESTAMP                AS MOD_DTM
          FROM T_WEB_BASKET_ANI A
         WHERE A.CUST_CD        = #{CUST_CD}
           AND A.BASKET_GB_CD   = #{BASKET_GB_CD}
           AND A.ITEM_GB_CD     = #{ITEM_GB_CD}
           AND A.ITEM_CD        = #{ITEM_CD}
           AND A.DLV_BRCH_CD    = F_S_EMPTY(#{DLV_BRCH_CD},A.DLV_BRCH_CD)
    </insert>

    <update id="procItemStockUpdate_ani" statementType="CALLABLE" parameterType="java.util.HashMap">
        {CALL P_ITEM_STOCK(
             'P_WEB_I_ANI'
            , #{SN}
            , #{USER_ID}
            , #{O_VAL               ,mode=OUT ,jdbcType=VARCHAR}
            , #{O_MSG               ,mode=OUT ,jdbcType=VARCHAR}
            )}
    </update>

    <select id="selectItemDetailInfo_ani" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* ani.selectItemDetailInfo_ani 제품상세정보(동물) */
        SELECT A.ITEM_NM /* 제품명 */
             , A.UNIT /* 규격 */
             , B.MAKER_NM /* 제약사 */
             , A.BOHUM_CD /* 보험코드 */
             , CASE WHEN A.TAKEBACK_YN = 'Y' THEN '반품제약'
                    ELSE '반품불가'
               END TAKEBACK /* 반품 */
             , '유효기간 6개월 미만 불가' AS TAKEBACK_COND
             , 12 AS BOX_PROCURE_S
             , 48 AS BOX_PROCURE_M
             , 144 AS BOX_PROCURE_L
             , 3 AS MIN_ORD_QTY
             , 10 AS MAX_ORD_QTY
             , '24.01.01 | 25,000원' AS POLICY_PRICE
             , '24년 1월 중순 ~ 2월 초 예정' AS INCMNG_SCHDL
          FROM T_ITEM A
          LEFT JOIN T_MAKER B
            ON B.MAKER_CD = A.MAKER_CD
         WHERE A.ITEM_CD = #{selItemCd}
    </select>
    
    <select id="selectAvailStock_ani" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* ani.selectAvailStock_ani 장바구니 품목 재고 조회(동물) */
        SELECT A.ITEM_CD
             , B.AVAIL_STOCK
          FROM T_WEB_BASKET_ANI A
          JOIN T_ITEM_STOCK B
            ON B.BRCH_CD = A.DLV_BRCH_CD
           AND B.ITEM_CD = A.ITEM_CD
         WHERE A.CUST_CD = #{custCd}
           AND A.BASKET_GB_CD = '01'
           AND A.ORD_SEQ IS NULL
    </select>
    
    <select id="selectBasketDupOrd_ani" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* ani.selectBasketDupOrd_ani 장바구니 중복 체크(동물) */
        SELECT COUNT(1) AS CNT
          FROM T_WEB_BASKET_ANI A
         WHERE A.CUST_CD = #{custCd}
           AND A.BASKET_GB_CD = #{basketGbCd}
           AND A.ITEM_CD = #{saveItemCd}
           AND A.ITEM_GB_CD = #{saveItemGbCd}
           AND A.DLV_BRCH_CD NOT IN (#{gDlvBrchCd}, #{brchCd})
    </select>
    
    <select id="selectBasketDupOrd2_ani" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* ani.selectBasketDupOrd2_ani 장바구니 중복 체크(동물) */
        SELECT NVL(SUM(ITEM_CNT),0) AS ITEM_CNT /* 0 이면 장바구니에 없는 품목, 1이상이면 장바구니에 담겨있음  */
          FROM T_WEB_BASKET_ANI A
         WHERE A.BASKET_GB_CD = #{basketGbCd}
           AND A.CUST_CD = #{custCd}
           AND A.ITEM_CD = #{saveItemCd}
           AND A.DLV_BRCH_CD =#{gDlvBrchCd}
    </select>
</mapper>